MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=song_recommendation

PINECONE_API_KEY=
PINECONE_INDEX_NAME=song-lyrics-chunks

OPENAI_API_KEY=
OPENAI_MODEL_PARSER=gpt-4o-mini
OPENAI_MODEL_RESPONSE=gpt-4o-mini

EMBEDDING_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
EMBEDDING_DEVICE=cpu
